* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #F46036;
}

#header{
    text-align: center;
    color:white;
    margin-top:1em;
    margin-bottom:1em;

}

#recipesListContainer{
    margin:auto;
    /*color:#FF7F50;*/
    padding: 15px;
    width: 70%;
    height: 100px;
    overflow: auto;
    vertical-align:iddle;
    border-top:4px solid #084C61;
    border-right:8px solid #084C61;
    border-bottom:9px solid #084C61;
    border-left:-4px solid #084C61;
    padding: 10px;
    border-radius: 15px;
    background-color: #084C61;
    margin-bottom:5px;
}

#recipesList ul{
    list-style-type:none;
    color:black;
}



a{
    font-size:20px; 
    text-decoration:none;
    color:#ffffff;
    font-weight:bold;
    margin-left:4px;
}

a:hover{
    color:#481D24;
}



/*
a.even{
color:white;

}

a.even:hover{
color:#481D24;
}*/

#ingredientsListContainer{
    margin:auto;
    color:#FF7F50;
    padding: 15px;
    width: 70%;
    height: 450px;
    overflow: auto;
    vertical-align: middle;
    border-top:4px solid #084C61;
    border-right:8px solid #084C61;
    border-bottom:9px solid #084C61;
    border-left:-4px solid #084C61;
    padding: 10px;
    border-radius: 15px;
    background-color: #084C61;
    margin-bottom:20px;
}

#name{
    color:white;
    font-size:33px;
    margin-bottom:15px;
    font-weight:bold;
    float:left;
}

#ingredientsDirections{
    height:350px;
    margin:auto;
    background-color:#481D24;
    overflow: auto;
    vertical-align: middle;
    margin-right:-10px;
    margin-left:-10px;
    color:white;

}

.ingredientsList {
    margin-top:15px;
}

#ingr{

    color:white;
    font-size:20px;
    margin-left:15px;
    margin-top:18px;
    font-weight: bold;
}

.ingredientsList li{
    margin-left:45px;
    font-size:17px;
}


#recipesList li:nth-child(even) { 
    background: #F46036;
    margin-right:-10px;
    margin-left:-2px;
    margin-top:5px;
    margin-bottom:5px;
    padding:4px 0px;
    color:white !important;
}


#recipesList li:nth-child(odd) { 
    background: #084C61; 

}

.directionsList li{
    margin-left:45px;
    font-size:17px;
}

.directionsList {
    margin-top:15px;
}

/*modal*/
.modal {
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #616196; 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  height:60%;
 overflow: scroll;
 
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
    clear:both;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeSave{
    clear:both;
}
.closeSave:hover,
.closeSave:focus {
  
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #616196;
  height:25px;
  color: white;
  text-align: center;
}

.modal-body {
    padding: 2px 16px;
   
}

#inputTitle{
    
    text-align: center;
    
   
}
#inputIngredients{

     text-align: center;
    
}
#inputDirections{
    
     text-align: center;
     
}


textarea {
  resize: none;
    
}

.deleteButton{
  float:left;
  margin-left:18px;
  margin-top:0;
  width:40px;
  height:40px;
}

.showEditButton{
  float:left;
  margin-left:10px;
  margin-top:0;
  width:47px;
  height:42px;
}

.showAdd{
  width:40px;
  height:40px;
  margin-top:5px;

}
#bottomAdd{
  width:40px;

}


