<!DOCTYPE html>
<html>
    <head>
        <title>recipeBox</title>
        <link rel="stylesheet" href="recipeBox.css">
        <script src="https://unpkg.com/vue"></script>

    </head>
    <body>
        <h1 id="header">Recipe Box</h1>
        <div id="app">
            <div id="recipesListContainer">
                <ul id="recipesList">

                    <li v-for="(reteta,index) in recipes" :key="reteta.id" @click="recipesDescription(index)"><a href="#">{{ reteta.title }}</a></li>

                </ul>



            </div>


            <div id="ingredientsListContainer">
                <!-- <h2 class="name">Artichoke Pasta</h2>-->
                <div id="header">
                <p id="name">{{clickedTitleDescription }}</p>
                    <button  id="deleteButton" @click="deleteRecipe">Delete </button>
                    <button  id="showEditButton" @click="showEdit">Edit</button>
                    
                 </div>       



                <div style="clear:both"></div>

                <div id="ingredientsDirections">

                    <h3 id="ingr">Ingredients:</h3>

                    <ul class="ingredientsList">
                        <li v-for="ingredient in clickedRecipeDescription.split(',')" >{{ ingredient }}</li>
                    </ul>

                    <h3 id="ingr">Directions:</h3>

                    <ol class="directionsList">

                        <li v-for="directions in clickedDirectionsDescription.split(',')">{{ directions}}</li>
                    </ol>
                </div>

            



                
                <button id="showAdd" @click="showAdd">Add</button>

                <div id="myModal" v-if="modalShown"  class="modal">
                    <div class="modal-content">
                        <div class="modal-header">

                            <span class="close" @click="hideModal">&times;</span>
                            <h3>Add a Recipe</h3>
                        </div>
                        <div class="modal-body"
                            >

                            <div id="input">
                                <div id="inputTitle">
                                    <h3>Recipe</h3>
                                <textarea  v-model="currentRecipeTitle" placeholder="Type the name of the recipe here" rows="5" cols="40"></textarea>
                                </div>
                                
                                <div id="inputIngredients">
                                    <h3>Ingredients</h3>
                                 <textarea v-model="currentRecipeDescription" placeholder="Type the ingedients of the recipe here separated by commas" rows="5" cols="40"></textarea>
                                </div>
                                
                                <div id="inputDirections">
                                    <h3>Directions</h3>
                                 <textarea v-model="currentRecipeDirections" placeholder="Type directions of the recipe here separated by commas" rows="5" cols="40"></textarea>
                                    <br>
                                     <button  v-if="addShown" id="addButton" @click="addRecipe"><span class="closeSave">Add</span></button>
                                     <button  v-else id="editButton" @click="editRecipe" ><span class="closeSave">Save</span></button>

                                     </div>
                                
                                
                               
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <script src="recipeBox.js"></script>

    </body>
</html>